@font-face {
    font-family: 'DBHelvethaica';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/DB HelvethaicaMon X v3.2.ttf');
    src: url('/fonts/DB Helvethaica X Bd Cond It v3.2.ttf') format('truetype'),
}

.menu {
    font-family: 'DBHelvethaica' !important;
    font-size: 18px;
}
.panel-title {
    font-family: 'DBHelvethaica' !important;
    font-size: 22px !important;
}
.breadcrumb {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
    padding: 0px 15px;
}
.btn-create {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
    float: right;
    margin-top:-5px;
}
.font {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
}
.heading {
    font-family: 'DBHelvethaica' !important;
    font-size: 25px !important;
}
.title {
    font-family: 'DBHelvethaica' !important;
    font-size: 22px !important;
}
.togglebutton {
    font-family: 'DBHelvethaica' !important;
    font-size: 18px !important;
    margin-left:10px;
    margin-right:20px;
}
.swal-text {
    font-family: 'DBHelvethaica' !important;
    font-size: 22px !important;
}
.swal2-title {
    font-family: 'DBHelvethaica' !important;
    font-size: 22px !important;
}

tr > th {
    text-align: center !important;
}

#swal2-content {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
}

.swal2-confirm {
    font-family: 'DBHelvethaica' !important;
    font-size: 16px !important;
}

.swal2-cancel {
    font-family: 'DBHelvethaica' !important;
    font-size: 16px !important;
}
#table-data_length {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
}
#table-data_filter {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
}

input[type=search] {
    font-family: 'DBHelvethaica' !important;
    font-size: 18px !important;
}
select[name=table-data_length] {
    font-family: 'DBHelvethaica' !important;
    font-size: 16px !important;
}
.title {
    font-family: 'DBHelvethaica' !important;
    font-size: 16px !important;
}

